body{
background-color: #CAD2C5;
color: #2F3E46;
margin:0;
padding:0;
}
.main-header {
font-family: Impact, sans-serif;
display: flex;
justify-content:left;
flex-direction: row;
margin: 10px;
height: 100px;
letter-spacing: 1px;
}
ul {
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}
section{
display: flex;
font-family: Arial, sans-serif;
flex-direction: column;
}
h1 {
text-align: center;
color: #354F52;
line-height: 100px;
margin: 0;
}
article {
padding: 10px;
margin: 10px;
background: #84A98C;
}
.contact-info{
text-decoration-style: none;
}
section {
display: flex;
}
article {
flex: 1 200px;
}
article:nth-of-type(3) {
flex: 3 100px;
display: flex;
flex-flow: column;
}
article:nth-of-type(3) div:first-child {
flex: 1 100px;
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: space-around;
}
button {
flex: 1 auto;
margin: 5px;
font-size: 18px;
line-height: 1.5;
color: #2F3E46;
background-color: #52796F;
border:#52796F;
padding: 14px 40px;
}
footer{
  margin:10px;
}